<html>

<body>

  <section class="container2">
    <div class="row">
      {{#each jewelry as |item|}}
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img src="{{item.image_url}}">
            <span class="card-title">{{item.jewelry_name}}</span>
          </div>
          <div class="card-content">
            <p>${{item.jewelry_price}}</p>
          </div>
          <div class="card-action">
            <button class="add-to-cart-btn" data-product="{{item.jewelry_name}}" data-price="{{item.jewelry_price}}">
              Add to cart
            </button>

          </div>
        </div>
      </div>
      {{/each}}
    </div>

    <div class="col s12">
      <h2>Cart</h2>
      <div id="cart-container"></div>
    </div>

    <div class="col s12">
      <button id="checkout-btn" class="btn">Checkout</button>
    </div>
  </section>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const addToCartButtons = document.querySelectorAll('.add-to-cart-btn');
      const checkoutButton = document.getElementById('checkout-btn');
      const cartItems = [];

      addToCartButtons.forEach((button) => {
        button.addEventListener('click', () => {
          const productName = button.getAttribute('data-product');
          const productPrice = parseFloat(button.getAttribute('data-price'));

          cartItems.push({ name: productName, price: productPrice });
          alert(`${productName} added to cart!`);
        });
      });

      checkoutButton.addEventListener('click', () => {
        if (cartItems.length === 0) {
          alert('Your cart is empty.');
        } else {
          //Redirect to the cart page and pass the cartItems data
          {
            {
              const cartData =

                encodeURIComponent(JSON.stringify(cartItems));
              window.location.href = `/checkout?items=${cartData}`;
            }
          }
        }
      });
    });
  </script>

</body>

</html>