<!DOCTYPE html>
<html>

<head>
  <title>Shopping Cart</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
  <section class="container">
    <div class="row">
      {{#each clothes as |item|}}
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img src="{{item.image}}">
            <span class="card-title">{{item.clothesName}}</span>
          </div>
          <div class="card-content">
            <p>${{item.clothesPrice}}</p>
          </div>
          <div class="card-action">
            <a href="#" class="add-to-cart" data-id="{{item.id}}" onclick="addToCart('{{item.id}}')">Add to Cart</a>
          </div>
        </div>
      </div>
      {{/each}}

      <div class="col s12">
        <h2>Cart</h2>
        <div id="cart-container"></div>
      </div>

      <div class="col s12">
        <button id="checkout-btn" class="btn">Checkout</button>
      </div>
    </div>
  </section>

  <script src="script.js"></script>
</body>

<<<<<<< HEAD
</html>
=======
<section class="container2">
<div class="row">
    {{#each tech as |item|}}
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="{{item.image}}">
          <span class="card-title">{{item.techName}}</span>
        </div>
        <div class="card-content">
          <p>${{item.techPrice}}</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>


  </section>
>>>>>>> c76bb17b546ed8585225c723d22f3c8fac8a5d4a
